@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@100;200;300;400;500;600;700;800;900&family=Lexend+Deca:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    box-sizing: border-box;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
:root {
    --Bright-orange: hsl(31, 77%, 52%);
    --Dark-cyan: hsl(184, 100%, 22%);
    --Very-dark-cyan: hsl(179, 100%, 13%);
}
.container {
    nax-width:calc(300px * 3)
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-radius: 15px;
    overflow:hidden;
}
.cards {
    padding: 40px;
}
.card-title {
    font-family: 'Big Shoulders Display', cursive;
    text-transform: uppercase;
    color: #fff;
}
.cards p {
    line-height: 1.8;
    color: #fff;
    font-family: 'Lexend Deca', sans-serif;
}
.card-1 {
    background-color: var(--Bright-orange);
}
.card-2 {
    background-color: var(--Dark-cyan);
}
.card-3 {
    background-color: var(--Very-dark-cyan);
}
[type="button"] {
    margin-top: 90px;
    width: 120px;
    height: 40px;
    border-radius: 20px;
    border: 1px solid #fff;
    font-size: 16px;
    font-weight: bold;
    transition: .5s;
    cursor: pointer;
}
.button-1{
    color: var(--Bright-orange);
}
.button-2{
    color: var(--Dark-cyan);
}
.button-3{
    color: var(--Very-dark-cyan);
}
.button-1:hover{
    background-color: var(--Bright-orange);
    color: #fff;
}
.button-2:hover{
    background-color: var(--Dark-cyan);
    color: #fff;
}
.button-3:hover{
    background-color: var(--Very-dark-cyan);
    color: #fff;
}

@media(max-width:375px) {
    .container {
        max-width:300px;
        align-items: center;
        flex-direction: column;
    }
    [type="button"]{
        margin-top: 15px;
    }
    footer {
       width: 300px;
       text-align: center;
    }
}
    
